/*********/
/*RESET*/
/*********/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}
/*VARIABLES*/
:root {
    --main-color: #f3f4ed;
    --secondary-color: #0a3b4c;
    --dark-color: #000;
    --footer-secondary-color: #a6b0b3; 
    --footer-main-color: #3d424f; 
    --footer-secondary-color: #2d2f3e;
    font-size: 62.5%;
}
/*********/
/*GENERAL*/
/*********/
body {
    display: flex;
    flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	color: var(--secondary-color);
	min-width: 300px;
    max-width: 1800px;
    min-height: 100vh;
    margin: 0 auto;
}
h1 {
	font-size: clamp(2.2rem, 3vw, 3rem);
	text-align: center;
}
h2 {
	font-weight: 400;
	text-align: center;
    font-size: clamp(2rem, 2.4vw, 2.5rem);
}
h3 {
	font-size: clamp(2rem, 1.9vw, 2rem);
	text-align: center;
	text-transform: uppercase;
}
p, label{
    font-size: clamp(1.8rem, 1.8vw, 1.8rem);
}
/*HEADER*/
header {
    background-color: var(--main-color);
}
.menu {
    display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: clamp(1.6rem, 1.8vw, 2rem);
}
.menu a{
    height: clamp(6rem, 7vw, 10rem);
}
.logo {
    height: 100%;
}
.menu nav a {
    position: relative;
    font-weight: 500;
    color: var(--secondary-color);
}
.menu nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--dark-color);
    transition: width .2s ease-in-out;
}
.menu nav a:hover::after {
    width: 70%;
}

.menu nav ul {
	display: flex;
    gap: 5rem;
}

/*BANNER*/
.banner {
	width: 100%;
	max-height: 600px;
    min-height: 300px;
	object-fit: cover;
    display: block;
}

/******/
/*MAIN*/
/******/
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;
    padding: 2rem 0;
	background-color: var(--main-color);
}

.titles{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*ITEMS*/
.items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    gap: 2rem 4rem;
}
.items article h3{
    position: relative;
}
.items h3::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: var(--dark-color);
    transition: width .2s ease-in-out;
}
.items a:hover article h3::after{
    width: 50%;
}
.items article {
	display: flex;
	flex-direction: column;
	align-items: center;
    gap: 1rem;
	padding: 1rem;
	width: 100%;
    max-width: 500px;
	border-radius: 10px;
}
.items article img {
	width: 100%;
    max-height: 290px;
	object-fit: cover;
	border-radius: 5px;
}
.items article p {
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/********/
/*FOOTER*/
/********/
footer {
	color: #f3f4ed;
    background-color: var(--secondary-color);
    text-align: center;
    line-height: 50px;
    height: 50px;
}

footer p{
    font-size: clamp(1.4rem, 1.4vw, 1.8rem);
}

/********/
/*POPUP*/
/*******/
.popup{
	position: fixed;
	top: 10px;
	left: 50%;
	padding: 15px;
	text-align: center;
	font-size: clamp(0.9rem, 1vw, 1.2rem);
	letter-spacing: 1px;
	border-radius: 10px;
	background-color: green;
	color: white;
	animation : appear 0.2s ease-in-out forwards;
}
@keyframes appear {
	from{
		transform: translate(-50%, -20px);
	}
	to{
		transform: translate(-50%, 0);
	}
}

/********/
/*LOADER*/
/********/
#loader{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid var(--main-color);
    border-top: 5px solid var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color);
    animation: spin 1s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/***************/
/*MEDIA QUERIES*/
/***************/
@media screen and (max-width: 623px) {
    .menu{
        padding: 2rem 1rem;
    }
    .menu nav ul{
        gap: 2rem;
    }
    main{
        gap: 1rem;
    }
    .items article {
        gap: 1rem;
    }
    .items{
        gap: 1rem;
    }
}